<div class="back-img">


    <div class="container"  style="margin-left: 36%;margin-right: 30%;margin-top: 100px; height: auto;width:25em"> 
    <div class="card">
        <div class="card-body">
            <p style="color:  #00FFD4;text-align: center;">Piatta Forma</p>
            <h3 style="text-align: center;">Sign in</h3>
            <p style="text-align: center;">Use Your Regular Account</p>
            <!-- Default input -->
             <!-- <label for="exampleForm2">Email</label> -->
    <!-- <input type="text" id="exampleForm2" class="form-control"> -->
<!-- Material input -->

<div class="md-form">
  <input type="text" id="form1" class="form-control">
  <label for="form1">E-mail</label>
</div>
<p class="text-info" style="cursor: pointer;padding-top: -60px;">Forgot Email?</p>
              <p style="margin-top: 35px;font-size: small;cursor: pointer;">Not your computer? Use a private browsing window to sign in.<u>Learn more</u></p>
             
              <div class="row">
                  <div class="col">
                      <p class="text-info"style="margin-top:50px;font-size: small;cursor:pointer">Create Account </p>
                  </div>
                  <div class="col">

                      <button class="btn aqua-gradient" style="float: right;margin-top: 45px;width: 6em;">Next</button>
                  </div>
              </div>



        </div>
    </div>
 </div>
</div>
