/* .btn{
    margin-left: 50%;
    margin-right: 50%;
} */


/* .card{
    margin-top: 10px;
    margin-bottom: 10px;
}
.page{
    margin-top: 10px;
}
.card-body{
    margin-left: 40%;
}
.M{
    margin-left: 5%;
} */




/* .card:hover{
  background-color: #f3f7f7;
} */